@import "seattletimes";
@import (inline) "npm://chartist/dist/chartist.min.css";

@light: #41b6c4;
@med: #2c7fb8;
@dark: #253494;

body {
  max-width: 630px;
  font-family: @df-sans;
}

.ct-bar, .ct-point {
  cursor: pointer;
}

.ct-point:hover {
  stroke: #e34a33 !important;
}

.tooltip {
  position: absolute;
  display: inline-block;
  line-height: 1.1;
  padding: 0.4em;
  background: #ffffff;
  border: 1px solid @df-border-gray;
  min-width: 7em;
  color: #453D3F;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  stroke: #679BD2;
  z-index: 1;
  @media @mobile {
    min-width: 0;
  }
}

.permits {
  .ct-series-a {
    path, line {
      stroke: @light;
    }
  }
  .ct-series-b {
    path, line {
      stroke: @dark;
    }
  }
}

.aaa {
  .ct-label {
    font-size: 18px;
  }
  .ct-bar {
    stroke-width: 20px;
  }
  .ct-series-a line {
    stroke: @light;
  }
}

.citations {
  .ct-bar {
    stroke-width: 30px;
  }

  .ct-series-a line {
    stroke: @light;
    &:nth-child(1), &:nth-child(3) {
      stroke: @med;
    }
  }
}

.inline {
  width: 50%;
  float: left;
}

.testing {
  #ct-testing-1, #ct-testing-2 {
    .ct-series-a path {
      fill: @dark;
    }
    .ct-series-b path {
      fill: @light;
    }
  }
}


.income {
  .ct-label {
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
  }

  .ct-bar {
    stroke-width: 40px;
  }
  .ct-series-a line {
    stroke: #253494;
  }
  .ct-series-b line {
    stroke: #225ea8;
  }
  .ct-series-c line {
    stroke: #1d91c0;
  }
  .ct-series-d line {
    stroke: #41b6c4;
  }
  .ct-series-e line {
    stroke: #7fcdbb;
  }
}