@import "seattletimes";
@import (inline) "npm://chartist/dist/chartist.min.css";

@light: #41b6c4;
@med: #2c7fb8;
@dark: #253494;
@highlight: #e34a33;

body {
  max-width: 630px;
  font-family: @df-sans;
}

.tiny {
  font-size: 9px;
  padding-right: 2px;
}

.title {
  color: @df-dark-gray;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;

  @media @mobile {
    font-size: 20px;
  }
}

.subtitle {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  color: @df-middle-gray;

  @media @mobile {
    font-size: 15px;
  }
}

.source {
  padding-top: 10px;
  font-style: italic;
}
.source, .credit {
  font-size: 11px;
  color: rgba(0,0,0,.4);
  // text-align: right;
}

.legend {
  color: @df-middle-gray;
  font-size: 14px;
  padding-bottom: 15px;
}

.category {
  display: inline-block;
  padding-left: 20px;

  &:first-child {
    padding-left: 0;
  }
}

.swatch {
  width: 20px;
  height: 10px;
  margin-right: 2px;
  background: red;
  display: inline-block;
}

.ct-bar, .ct-point, .ct-slice-pie {
  cursor: pointer;
}

.ct-bar:hover, .ct-point:hover {
  stroke: @highlight !important;
}
.ct-slice-pie:hover {
  fill: @highlight !important;
}

.tooltip {
  position: absolute;
  display: inline-block;
  line-height: 1.1;
  padding: 0.4em;
  background: white;
  border: 1px solid @df-light-gray;
  color: @df-dark-gray;
  // font-weight: bold;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
  stroke: #679BD2;
  z-index: 1;
  @media @mobile {
    min-width: 0;
  }
}

.ct-label {
  @media @mobile {
    font-size: 10px;
  }
}
.ct-horizontal {
  font-weight: bold;
  color: @df-middle-gray;
  padding-top: 5px;
}

.permits {
  .ct-series-a {
    path, line {
      stroke: @light;
    }
  }
  .ct-series-b {
    path, line {
      stroke: @dark;
    }
  }
}

.aaa {
  .ct-label {
    color: @df-middle-gray;

    &.ct-vertical {
      font-size: 16px;

      @media @tablet {
        font-size: 14px;
      }

      @media @mobile {
        font-size: 12px;
      }
    }
  }
  .ct-bar {
    stroke-width: 20px;

    @media @mobile {
      stroke-width: 12px;
    }
  }
  .ct-series-a line {
    stroke: @light;
  }
  @media @mobile {
    foreignobject, .ct-label {
      width: 200px !important;
    }
  }
}

.citations {
  .ct-bar {
    stroke-width: 30px;
  }

  .ct-series-a line {
    stroke: @light;
    // &:nth-child(1), &:nth-child(3) {
    //   stroke: @med;
    // }
  }
}

.inline {
  width: 50%;
  float: left;
}

.testing {
  #ct-testing-1, #ct-testing-2 {
    .ct-series-a path {
      fill: @dark;
    }
    .ct-series-b path {
      fill: @light;
    }
  }

  .subtitle {
    margin-bottom: 10px;
  }
}


.income {
  .ct-label {
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
  }

  .ct-bar {
    stroke-width: 25px;
  }
  .ct-series-a line {
    stroke: #253494;
  }
  .ct-series-b line {
    stroke: #225ea8;
  }
  .ct-series-c line {
    stroke: #1d91c0;
  }
  .ct-series-d line {
    stroke: #41b6c4;
  }
  .ct-series-e line {
    stroke: #7fcdbb;
  }
}