<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
     <div class="title">Reasons why young people wait to get licensed</div>
     <div class="chatter">In 2012, the AAA Foundation for Traffic Safety surveyed more than 1,000 18 to 20 year-olds who waited until after their 18th birthday to get a driver's license.</div>
      <div class="aaa">
        <div class="ct-chart ct-minor-sixth" id="ct-aaa"></div>
      </div>
      <div class="source">Source: AAA Foundation for Traffic Safety</div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </responsive-child>

    <script src="aaa.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
