<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="title">Drivers who waited get more traffic tickets</div>
      <div class="chatter">The Department of Licensing studied citation rates from 2012 for young drivers after they had been on the road for two years.</div>

      <div class="citations">
        <div class="ylabel">Citations per driver</div>
        <div class="ct-chart ct-octave" id="ct-citations"></div>
        <div class="xlabel">Age when licensed</div>
      </div>
      
      <div class="source">Source: Washington State Department of Licensing</div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </responsive-child>

    <script src="citations.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
