<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="title">In poorer areas, a greater percentage of young people wait</div>
      <div class="chatter">Department of Licensing permit data from 2014, compared to median income data for Washington that same year.</div>
      <div class="legend">
        <strong>Age when issued permit:</strong><br>
        <div class="category"><div class="swatch" style="background: #edf8b1"></div> 15 years old</div>
        <div class="category"><div class="swatch" style="background: #c7e9b4"></div> 16</div>
        <div class="category"><div class="swatch" style="background: #7fcdbb"></div> 17</div>
        <div class="category"><div class="swatch" style="background: #41b6c4"></div> 18</div>
        <div class="category"><div class="swatch" style="background: #1d91c0"></div> 19</div>
        <div class="category"><div class="swatch" style="background: #225ea8"></div> 20</div>
        <div class="category"><div class="swatch" style="background: #253494"></div> 21</div>
      </div>
      <div class="income">
        <div class="ct-chart ct-major-seventh" id="ct-income"></div>
      </div>
      <div class="source">Sources: U.S. Census Bureau; Washington State Department of Licensing</div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </responsive-child>

    <script src="income.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
