<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
    <div class="outer">
      <div class="title">In poorer areas, a greater percentage of young people wait</div>
      <div class="chatter">Department of Licensing permit data from 2014, compared to median income data for Washington ZIP codes that same year</div>
      <div class="stretch-legend">
        <strong>Age when issued permit:</strong><br>
        <div class="swatch" style="background: #edf8b1"><div class="number">15</div></div>
        <div class="swatch" style="background: #c7e9b4"><div class="number">16</div></div>
        <div class="swatch" style="background: #7fcdbb"><div class="number">17</div></div>
        <div class="swatch" style="background: #41b6c4"><div class="number">18</div></div>
        <div class="swatch" style="background: #1d91c0"><div class="number">19</div></div>
        <div class="swatch" style="background: #225ea8"><div class="number">20</div></div>
        <div class="swatch" style="background: #253494"><div class="number">21</div></div>
      </div>
      <div class="income">
        <div class="note"><i class="fa fa-hand-o-right"></i> Touch or hover on chart for more detail</div>
        <div class="ylabel">Income bracket</div>
        <div class="ct-chart ct-major-seventh" id="ct-income"></div>
      </div>
      <div class="source">Sources: U.S. Census Bureau; Washington State Department of Licensing</div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </div>
    </responsive-child>

    <script src="income.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
