<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="title">Change in age of permit aqcuisition from 2004</div>
      <div class="legend">
        <div class="category"><div class="swatch" style="background: #41b6c4"></div> 15-17 years old</div>
        <div class="category"><div class="swatch" style="background: #253494"></div> 18-21 years old</div>
      </div>
      <div class="permits">
        <div class="ct-chart ct-perfect-fourth" id="ct-permits"></div>
      </div>
      <div class="source">Source: Washington State Department of Licensing</div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </responsive-child>

    <script src="permits.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
