<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
    <div class="outer">
      <div class="title">More young people are waiting to get their permits</div>
      <div class="legend">
        <strong>Permits issued to:</strong><br>
        <div class="category"><div class="swatch" style="background: #41b6c4"></div> 15-17 years old</div>
        <div class="category"><div class="swatch" style="background: #253494"></div> 18-21 years old</div>
      </div>
      <div class="permits">
        <div class="note"><i class="fa fa-hand-o-right"></i> Touch or hover on chart for more detail</div>
        <div class="ylabel">% change from 2004</div>
        <div class="ct-chart ct-octave" id="ct-permits"></div>
      </div>
      <div class="source">Source: Washington State Department of Licensing</div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </div>
    </responsive-child>

    <script src="permits.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
